org.equinoxosgi.toast.client.emergency/.settings/org.eclipse.jdt.core.prefs
org.equinoxosgi.toast.client.emergency/.settings/org.eclipse.pde.core.prefs
org.equinoxosgi.toast.dev.airbag/.settings/org.eclipse.jdt.core.prefs
org.equinoxosgi.toast.dev.airbag/.settings/org.eclipse.pde.core.prefs
org.equinoxosgi.toast.dev.gps/.settings/org.eclipse.jdt.core.prefs
org.equinoxosgi.toast.dev.gps/.settings/org.eclipse.pde.core.prefs
